<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">

      {%- include about.html -%}
      
      {%- if site.data.publications.size > 0 -%}
        {%- include publications.html -%}
      {%- endif -%}

      {%- if site.data.preprints.size > 0 -%}
        {%- include preprints.html -%}
      {%- endif -%}

      {%- if site.data.honor.honor_content -%}
        {%- include honor.html -%}
      {%- endif -%}

      {%- if site.data.education.size > 0 -%}
        {%- include education.html -%}
      {%- endif -%}

      {%- if site.more_content -%}
        {%- include more.html -%}
      {%- endif -%}

    </div>
  </main>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  {%- if site.analytics_id -%}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics_id }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ site.analytics_id }}');
  </script>
  {%- endif -%}

  {%- include footer.html -%}

</body>

</html>